extends base

block content
    h1(id='title') Cherry Boba
    div(id="about")
        h1 About our product!
        p Cherry boba is a canned tapicoa milk tea made with<br> Oolong tea leaves, whole milk, and real cane sugar! <br> Find our product at a retailer near you!
            img(id="homeCan",src='https://i.imgur.com/fW40gwV.png')
    section(id="buttonHolder")
        button(id="lbtn") Left
        button(id="rbtn") Right
    section(id="carousel")
    footer
